$text: #fbfcfd;
$white: #fbfcfd;
$blue: rgb(27, 177, 223);
$blue-dark: rgb(16, 120, 151);
$blue-light: rgb(29, 201, 253);
$grey: #5a5a5a;
$grey-light: #f3f3f3;
$active: #4a4343;
$black: #3a343a;


$separator: #eaeaea;
$separator-dark: #cfcfcf;


$php: #5f7fb8;
$javascript: #f1dc3f;
$css: #0671b8;

$button-hover: #e5e4e498;